<main class="d-flex justify-content-center align-items-center flex-column pb-5">

  <h1 class="mb-4">Login</h1>

  <form action="#" class="d-flex justify-content-center flex-column">
    <tr class="mb-2">
      <td>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" class="ms-1" [(ngModel)]="email">
      </td>
    </tr>
    <tr class="mb-2">
      <label for="passwd">Password: </label>
      <input type="text" name="passwd" id="passwd" class="ms-1" [(ngModel)]="passwd">
    </tr>

    <button (click)="validateFormLogin()" class="mt-2 border text-decoration-none text-white text-center bg-primary">Validate</button>
  </form>

  <div *ngIf="show">
    <div *ngIf="validate">
      <p>Email: {{ email }}</p>
      <p>Password: {{ passwd }}</p>
    </div>
    <p *ngIf="!validate">
      Debes rellenar todos los datos
    </p>

    <p *ngIf="!validateEmail">
      Email Incorrecto
    </p>

    <p *ngIf="!validatePasswd">
      La contraseña debe tener al menos 9 caracteres
    </p>
  </div>

</main>
