<main class="d-flex justify-content-center align-items-center flex-column pb-5">

  <h1 class="mb-4">Login</h1>

  <form action="#" class="d-flex justify-content-center flex-column">
    <tr class="mb-2">
      <td>
        <label for="email">Email: </label>
        <input type="text" name="email" id="email" class="ms-1">
      </td>
    </tr>
    <tr class="mb-2">
      <label for="passwd">Password: </label>
      <input type="text" name="passwd" id="passwd" class="ms-1">
    </tr>

    <a routerLink="user-data" class="mt-2 border text-decoration-none text-white text-center bg-primary">Login!</a>
  </form>

</main>
